<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.dao.AuthenticateMapper">
  <resultMap id="BaseResultMap" type="com.lagou.vo.Authenticate">
    <id column="authId" jdbcType="INTEGER" property="authid" />
    <result column="authCharter" jdbcType="VARCHAR" property="authcharter" />
    <result column="authCoWebsite" jdbcType="VARCHAR" property="authcowebsite" />
    <result column="authCoName" jdbcType="VARCHAR" property="authconame" />
    <result column="authCoLOGO" jdbcType="VARCHAR" property="authcologo" />
    <result column="companyId" jdbcType="INTEGER" property="companyid" />
    <result column="authState" jdbcType="INTEGER" property="authstate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    authId, authCharter, authCoWebsite, authCoName, authCoLOGO, companyId, authState
  </sql>
  <select id="selectByExample" parameterType="com.lagou.vo.AuthenticateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from authenticate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authenticate
    where authId = #{authid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from authenticate
    where authId = #{authid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lagou.vo.AuthenticateExample">
    delete from authenticate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lagou.vo.Authenticate">
    insert into authenticate (authId, authCharter, authCoWebsite, 
      authCoName, authCoLOGO, companyId, 
      authState)
    values (#{authid,jdbcType=INTEGER}, #{authcharter,jdbcType=VARCHAR}, #{authcowebsite,jdbcType=VARCHAR}, 
      #{authconame,jdbcType=VARCHAR}, #{authcologo,jdbcType=VARCHAR}, #{companyid,jdbcType=INTEGER}, 
      #{authstate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lagou.vo.Authenticate">
    insert into authenticate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authid != null">
        authId,
      </if>
      <if test="authcharter != null">
        authCharter,
      </if>
      <if test="authcowebsite != null">
        authCoWebsite,
      </if>
      <if test="authconame != null">
        authCoName,
      </if>
      <if test="authcologo != null">
        authCoLOGO,
      </if>
      <if test="companyid != null">
        companyId,
      </if>
      <if test="authstate != null">
        authState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authid != null">
        #{authid,jdbcType=INTEGER},
      </if>
      <if test="authcharter != null">
        #{authcharter,jdbcType=VARCHAR},
      </if>
      <if test="authcowebsite != null">
        #{authcowebsite,jdbcType=VARCHAR},
      </if>
      <if test="authconame != null">
        #{authconame,jdbcType=VARCHAR},
      </if>
      <if test="authcologo != null">
        #{authcologo,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="authstate != null">
        #{authstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lagou.vo.AuthenticateExample" resultType="java.lang.Long">
    select count(*) from authenticate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update authenticate
    <set>
      <if test="record.authid != null">
        authId = #{record.authid,jdbcType=INTEGER},
      </if>
      <if test="record.authcharter != null">
        authCharter = #{record.authcharter,jdbcType=VARCHAR},
      </if>
      <if test="record.authcowebsite != null">
        authCoWebsite = #{record.authcowebsite,jdbcType=VARCHAR},
      </if>
      <if test="record.authconame != null">
        authCoName = #{record.authconame,jdbcType=VARCHAR},
      </if>
      <if test="record.authcologo != null">
        authCoLOGO = #{record.authcologo,jdbcType=VARCHAR},
      </if>
      <if test="record.companyid != null">
        companyId = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.authstate != null">
        authState = #{record.authstate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update authenticate
    set authId = #{record.authid,jdbcType=INTEGER},
      authCharter = #{record.authcharter,jdbcType=VARCHAR},
      authCoWebsite = #{record.authcowebsite,jdbcType=VARCHAR},
      authCoName = #{record.authconame,jdbcType=VARCHAR},
      authCoLOGO = #{record.authcologo,jdbcType=VARCHAR},
      companyId = #{record.companyid,jdbcType=INTEGER},
      authState = #{record.authstate,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lagou.vo.Authenticate">
    update authenticate
    <set>
      <if test="authcharter != null">
        authCharter = #{authcharter,jdbcType=VARCHAR},
      </if>
      <if test="authcowebsite != null">
        authCoWebsite = #{authcowebsite,jdbcType=VARCHAR},
      </if>
      <if test="authconame != null">
        authCoName = #{authconame,jdbcType=VARCHAR},
      </if>
      <if test="authcologo != null">
        authCoLOGO = #{authcologo,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null">
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="authstate != null">
        authState = #{authstate,jdbcType=INTEGER},
      </if>
    </set>
    where authId = #{authid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lagou.vo.Authenticate">
    update authenticate
    set authCharter = #{authcharter,jdbcType=VARCHAR},
      authCoWebsite = #{authcowebsite,jdbcType=VARCHAR},
      authCoName = #{authconame,jdbcType=VARCHAR},
      authCoLOGO = #{authcologo,jdbcType=VARCHAR},
      companyId = #{companyid,jdbcType=INTEGER},
      authState = #{authstate,jdbcType=INTEGER}
    where authId = #{authid,jdbcType=INTEGER}
  </update>
</mapper>