<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.dao.SkilltypeMapper">
  <resultMap id="BaseResultMap" type="com.lagou.vo.Skilltype">
    <id column="skillTypeId" jdbcType="INTEGER" property="skilltypeid" />
    <result column="skillTypeName" jdbcType="VARCHAR" property="skilltypename" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    skillTypeId, skillTypeName
  </sql>
  <select id="selectByExample" parameterType="com.lagou.vo.SkilltypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from skilltype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from skilltype
    where skillTypeId = #{skilltypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from skilltype
    where skillTypeId = #{skilltypeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lagou.vo.SkilltypeExample">
    delete from skilltype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lagou.vo.Skilltype">
    insert into skilltype (skillTypeId, skillTypeName)
    values (#{skilltypeid,jdbcType=INTEGER}, #{skilltypename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lagou.vo.Skilltype">
    insert into skilltype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skilltypeid != null">
        skillTypeId,
      </if>
      <if test="skilltypename != null">
        skillTypeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skilltypeid != null">
        #{skilltypeid,jdbcType=INTEGER},
      </if>
      <if test="skilltypename != null">
        #{skilltypename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lagou.vo.SkilltypeExample" resultType="java.lang.Long">
    select count(*) from skilltype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update skilltype
    <set>
      <if test="record.skilltypeid != null">
        skillTypeId = #{record.skilltypeid,jdbcType=INTEGER},
      </if>
      <if test="record.skilltypename != null">
        skillTypeName = #{record.skilltypename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update skilltype
    set skillTypeId = #{record.skilltypeid,jdbcType=INTEGER},
      skillTypeName = #{record.skilltypename,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lagou.vo.Skilltype">
    update skilltype
    <set>
      <if test="skilltypename != null">
        skillTypeName = #{skilltypename,jdbcType=VARCHAR},
      </if>
    </set>
    where skillTypeId = #{skilltypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lagou.vo.Skilltype">
    update skilltype
    set skillTypeName = #{skilltypename,jdbcType=VARCHAR}
    where skillTypeId = #{skilltypeid,jdbcType=INTEGER}
  </update>
</mapper>